$primary-color: #607ff2;
$primary-color-lighter: #e9f4ff;
$primary-color-darker: #4c51c6;
$secondary-color: #fd830d;

$spacing-xxxs: 0.5rem;
$spacing-xxs: 0.75rem;
$spacing-xs: 1rem;
$spacing-s: 1.5rem;
$spacing-m: 2rem;
$spacing-l: 2.5rem;
$spacing-xl: 3rem;
$spacing-xxl: 3.5rem;
$spacing-xxxl: 4rem;
$spacing-xxxxl: 4.5rem;

$font-xxxxs: 0.5rem;
$font-xxxs: 0.625rem;
$font-xxs: 0.75rem;
$font-xs: 0.875rem;
$font-s: 1rem;
$font-m: 1.125rem;
$font-l: 1.25rem;
$font-xl: 1.375rem;
$font-xxl: 1.5rem;
$font-xxxl: 1.625rem;
$font-xxxml: 1.75rem;
$font-xxxxl: 1.875rem;

$font-primary: "Open Sans";
$font-secondary: "Rubik";
