@import "utils/styles/variables.scss";

.selector-component {
	border: 2px solid rgba(0, 0, 0, 0.2);
	height: 2rem;
	min-width: 15.5rem;
	width: 100%;
	padding-left: $spacing-xxs;
	border-radius: 4px;
	font-family: $font-primary;
	font-size: $font-s;
	background-color: $primary-color-lighter;

	&:hover {
		border-color: $primary-color;
	}

	&:focus {
		border-color: $primary-color-darker;
		outline: 0;
	}
}
