@import "utils/styles/variables.scss";

.layout {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&__page {
		width: 100%;
		height: 100%;
		flex: 1;
		padding: $spacing-xl 15%;
		display: flex;
	}
}

// Media queries

@media (max-width: 1000px) {
	.layout {
		&__page {
			padding: $spacing-xl 10%;
		}
	}
}

@media (max-width: 600px) {
	.layout {
		&__page {
			padding: $spacing-xl 5%;
		}
	}
}
