@import "utils/styles/variables.scss";

$item-color: #f5f9fc;

.product-item {
	border: 1px solid $item-color;

	&__image {
		aspect-ratio: 1/ 1;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $item-color;
		padding: $spacing-xxxs;

		> img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
