@import "utils/styles/variables.scss";

$cart-size: 22px;
$header-padding: 0 15%;
$header-padding-smaller: 0 10%;
$header-padding-smallest: 0 5%;

.main-header {
	color: $primary-color;
	background-color: $primary-color-lighter;
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

	a {
		text-decoration: none;
		white-space: nowrap;
	}

	&__top {
		height: 4rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: $header-padding;

		a {
			color: $primary-color;
			font-size: $font-l;
			font-family: $font-primary;
			font-weight: 600;
			cursor: pointer;
			transition: all 0.2s;

			&:hover {
				color: $primary-color-darker;
			}
		}
	}

	&__bottom {
		width: 100%;
		height: 2rem;
		padding: $header-padding;
	}

	&__right {
		display: flex;
		flex-direction: row;
		align-items: center;

		> div:not(:last-of-type):not(.main-header__cart) {
			margin-right: $spacing-xs;
		}
	}

	&__cart {
		cursor: pointer;
		position: relative;
		margin-right: $spacing-m;

		> span {
			font-family: $font-primary;
			font-size: $font-xxs;
			font-weight: 800;
			display: flex;
			width: $cart-size;
			height: $cart-size;
			position: absolute;
			top: -5px;
			right: -5px;
			background-color: $alt-color;
			border: 2px solid #fff;
			color: $primary-color-lighter;
			border-radius: $cart-size;
			align-items: center;
			justify-content: center;

			&:hover {
				animation: bounce 1000ms ease-in;
			}
		}
	}
}

// Animation

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

// Media queries

@media (max-width: 1000px) {
	.main-header {
		&__top,
		&__bottom {
			padding: $header-padding-smaller;
		}
	}
}

@media (max-width: 600px) {
	.main-header {
		&__top,
		&__bottom {
			padding: $header-padding-smallest;
		}
	}
}
