@import "utils/styles/variables.scss";

$cart-size: 22px;

.main-header {
	height: 4rem;
	color: $primary-color;
	background-color: $primary-color-lighter;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 15%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

	a {
		text-decoration: none;
		color: $primary-color;
		font-size: $font-l;
		font-family: $font-primary;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			color: $primary-color-darker;
		}
	}

	&__right {
		display: flex;
		flex-direction: row;
		align-items: center;

		> div:not(last-of-type):not(.main-header__cart) {
			margin-right: $spacing-s;
		}
	}

	&__cart {
		cursor: pointer;
		margin-right: $spacing-m;
		position: relative;

		> span {
			font-family: $font-primary;
			font-size: $font-xxs;
			font-weight: 800;
			display: flex;
			width: $cart-size;
			height: $cart-size;
			position: absolute;
			top: -5px;
			right: -5px;
			background-color: red;
			border: 2px solid #fff;
			color: $primary-color-lighter;
			border-radius: $cart-size;
			align-items: center;
			justify-content: center;

			&:hover {
				animation: bounce 1000ms ease-in;
			}
		}
	}
}

// Animation

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
