@import "utils/styles/variables.scss";

$min-column-width: 15.5rem;
$column-count: 4;
$column-gap: 2rem;
$total-gap: ($column-count - 1) * $column-gap;
$max-column-width: calc((100% - $total-gap) / $column-count);

.product-list {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__header {
		padding-bottom: $spacing-l;
		align-self: flex-end;
	}

	&__container {
		width: 100%;
		display: grid;
		grid-gap: 2.5rem $column-gap;
		grid-template-columns: repeat(
			auto-fit,
			minmax(max($min-column-width, $max-column-width), 1fr)
		);
	}

	&__error {
		text-align: center;
		color: $color-feedback-error;
	}

	&__button {
		margin-top: $spacing-m;
		display: flex;
		justify-content: center;
	}
}
